.form{
    width: 100%;
    background: var(--blue);
    text-align: center;
}

.song_input{
    width: 40vw;
    height: 50px;
    min-width: 200px;
    border: 8px solid var(--blue);
    margin-bottom: -50px;
    padding: 8px;
    outline: none;
    font-size: 1rem;
    font-weight: 600;
    background: var(--white);
}