.lyrics{
    margin: 0 30px;
    padding: 30px;
    line-height: 1.5rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.loading{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 1.2rem;
}

@media only screen and (max-width: 750px){
    .lyrics{
        margin: 0 15px;
    }
}
